<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      
      <service behaviorConfiguration="Karaoke.Service1Behavior" name ="KServer.Service1">
        <endpoint address="" binding="wsDualHttpBinding" contract="KServer.IService1">
          <!-- bindingConfiguration="wsDualHttpBindingConfig" -->
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="Karaoke.MobileBehavior" name ="KServer.Mobile">
        <endpoint address="" binding="webHttpBinding" contract="KServer.IMobile">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      
    </services>

    <!--
    <bindings>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBindingConfig">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding> 
    </bindings>
    -->
    
    <behaviors>
      <serviceBehaviors>
        <behavior name ="Karaoke.Service1Behavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>

        <behavior name ="Karaoke.MobileBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>