<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IDJ" maxReceivedMessageSize="10485760" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sunny.eng.utah.edu:81/DJ.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDJ" contract="ServiceReference1.IDJ" name="BasicHttpBinding_IDJ"/>
        </client>
    </system.serviceModel>
</configuration>
