<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMobile" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sunny.eng.utah.edu/Mobile.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMobile" contract="ServiceReference1.IMobile"
                name="BasicHttpBinding_IMobile" />
        </client>
    </system.serviceModel>
</configuration>